<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.bit.ex.board.mapper.BoardMapper">

	<!-- 게시판 검색기능 + 페이징 -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							bTitle like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							bName like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>	
	</sql>
	
	<select id="getList" resultType="edu.bit.ex.board.vo.BoardVO">
		<![CDATA[
			SELECT * FROM (
		 	select /*+INDEX_DESC(mvc_board) */ rownum rn, bId, bName, bTitle, bContent, bHit, bGroup, bStep, bIndent, bDate
		 	from mvc_board
		 	where
		]]>
		
		<include refid="criteria"></include>
		
		<![CDATA[
			rownum <= #{pageNum} * #{amount}
			)
			where rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>
	
	<select id="getTotal" resultType="int">
		select count(*) from mvc_board where 
		
		<include refid="criteria"></include>
		
		bId > 0
	</select>
	
	<!-- 게시글 조회 -->
	<select id="getContentView" resultType="edu.bit.ex.board.vo.BoardVO">
		<![CDATA[
			select * from mvc_board where bId = #{bId}
		]]>
	</select>
	
	<!-- 등록된 댓글 불러오기 -->
	<select id="getComment" resultType="edu.bit.ex.board.vo.BoardComment">
		<![CDATA[			
			SELECT * FROM mvc_comment WHERE bId = #{bId} order by comment_date desc
		]]>
	</select>
	
	<!-- 게시글 삭제 -->
	<delete id="getDelete">
		<![CDATA[
			delete from mvc_board where bId = #{bId}
		]]>
	</delete>
	
	<!-- 게시글 작성 -->
	<insert id="getWrite">
		<![CDATA[
			insert into mvc_board (bId, bName, bTitle, bContent, bHit, bGroup, bStep, bIndent) 
			values (mvc_board_seq.nextval, #{bName}, #{bTitle}, #{bContent}, 0, mvc_board_seq.currval, 0, 0)
		]]>
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="getModify">
		<![CDATA[
			update mvc_board set bName = #{bName}, bTitle = #{bTitle}, bContent = #{bContent} where bId = #{bId}
		]]>
	</update>
	
	<!-- 조회수 증가 -->
	<update id="getHit" parameterType="int">
	<![CDATA[
		update mvc_board set bHit = bHit + 1 where bId = #{bId}
	]]>
	</update>
	
	<!-- 댓글 등록 -->
	<insert id="commentInsert">
	<![CDATA[
			insert into mvc_comment (comment_id, bId, m_id, comment_content, comment_date) values
			(mvc_comment_seq.nextval, #{bId}, #{m_id}, #{comment_content}, sysdate)
		]]>
	</insert>
	
	
	<!-- 댓글 삭제 -->
	<delete id="CommentRemove">
		<![CDATA[
			delete from mvc_comment where comment_id = #{comment_id}
		]]>
	</delete>
	
	<!-- 댓글 수정 -->
	<update id="commentUpdate">
		<![CDATA[
			update mvc_comment set comment_content = #{comment_content},  comment_date = sysdate where comment_id = #{comment_id}
		]]>
	</update>
	

</mapper>